<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912009371490-u1jdh06q6r898aomd277f7nu78u1hji5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912009371490-u1jdh06q6r898aomd277f7nu78u1hji5</string>
	<key>API_KEY</key>
	<string>AIzaSyDGZNoD86-E0-4KCfCvLC2nlQiuEZQAJoA</string>
	<key>GCM_SENDER_ID</key>
	<string>912009371490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hu.gibbon.GibbonFE</string>
	<key>PROJECT_ID</key>
	<string>gibbonfe-d3a2f</string>
	<key>STORAGE_BUCKET</key>
	<string>gibbonfe-d3a2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912009371490:ios:70fdbfae7714950b</string>
	<key>DATABASE_URL</key>
	<string>https://gibbonfe-d3a2f.firebaseio.com</string>
</dict>
</plist>